$backg : rgb(26, 35, 44);
$nextBtn : rgb(16, 126, 49);
$greyText : rgb(205, 248, 208);
$homePoint : rgb(205, 248, 208);
$blue: rgb(21, 93, 228);
$font:  'Roboto', sans-serif ;
$borders:  1.5px solid $nextBtn; 
$radius: 15px;
$yellow: rgb(243, 161, 9);

   