@import 'variables';
@import '_buttons.scss';

@import 'home-page';
@import 'question-page';
@import 'result-page';

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: $backg;
    font-family: $font;
}

h5, h3 {
    margin: 1% 0 0 10%;
    color: $greyText;
}

@media screen and (min-width: 1024px) {
	
	 #questionImageContainer{
	width: 100vh;
    height: 60vh;
	
        } 
        .clearBtn {
            margin-right: 40% ;
        }
}

.invisible {
   
     position: absolute !important;
    top: -9999px !important;
  left: -9999px !important;
}


